body {
    font-family: "Open Sans";
background-color: #3512b3;
color: #12b318;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald";
    text-align: center;
    font-size:40pt;

}
header {
    text-align: center;
}
#hero, footer {
    background-color: #338036;
    padding: 10px;
    border: 2px solid;
    text-align: center;
}
#hero img {
    width: 300px;
}
#bio {
    text-align: center;
}
#gallery {
    border: 2px solid #96e601;
   margin-bottom:2rem;
}
#gallery img {
    max-width: 100%;
}
#gallery figure {
    text-align: center;
}
#lit {
    border: 2px solid white;
    margin-bottom: 2rem;
    padding: 2rem;
}
#lit div {
    padding:2rem;
    margin: 0 auto;
}
section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@Media Screen and (min-width: 60em) {
    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}

#formElements {
    display: grid;
    row-gap: 5em;
}

#contact {
    padding:1rem;
    max-width: 600px;
    margin: 1rem auto;
}
fieldset {
    border: 2px solid #338036;
    margin-top:1em;
    margin-bottom:1em;

}

#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size:1rem;
}
 #contact ul {
    list-style:none;
    padding:0px;
 }
 #contact li {
    margin:1rem
 }
 #contact button {
    background-color: #3512b3;
    color: #338036;
    border: 1px solid #96e601;
    max-width: 400px;
    width:50%;
    justify-self: center;
 }
 .tree img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 1s ease;
    }
    
    .tree img:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
    }

    .tree img{
        transition: 1s ease;
        }
        
        .tree img:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
        }